* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%; /* 1rem=10px */
}

/* HEADER - NAV */

.top {
    display: none;
}
header{
    height: 80px;
}
a {
    text-decoration: none;
    color: black;
}
.headerNav {
    background-color: lightcyan;
    width: 100%;
    height: inherit;
    position: fixed;
    top: 0px;
    z-index: 1000;
    display: flex;
}
.headerLogo {
    width: 20%;
    height: 100%;
    padding: 10px 30px;
}
.headerLogo a {
    display: inline-block;
    height: 60px;
}
.headerLogo a img {
    height: 100%;
}
.headerMenu {
    width: 80%;
    height: 100%;
    text-align: right;
}
.menuNav {
    height: 100%;
    padding-right: 15px;
    margin: 0;
}
.menuNav li{
    display: inline-block;
    height: 100%;
    font-size: 2rem;
}
.menuNav li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 25px 15px;
}
.menuNav li:hover {
    background:content-box linear-gradient(lightcyan, blue);
}
.menuNav li a:hover{
    color: white;
    text-shadow: 1px 1px 1px black;
}
.volverArriba a i{
    font-size: 50px;
    color: gray;
    position: fixed;
    bottom: 120px;
    left: 15px;
    opacity: .7;
    display: none;
}
.container {
    padding:0;
}

/* INDEX */

p {
    text-indent: 30px;
}
.bioIndex, .tyc_blg{
    margin: 20px auto;
    align-items: center;
    padding: 20px 0 40px;
    border-bottom: dashed 1px grey;
}
.TextoIndex{
    padding: 0;
    display: inline-block;
    text-align: right;
    margin: 0 0 15px; 
}
.TextoIndex h1, .TextoIndex h2{
    text-align: center;
    margin-bottom: 20px;
}
.TextoIndex p {
    margin-bottom: 10px;
    text-align: justify;
}
.TextoIndex a {    
    font-style: italic;
}
.ImgIndex{
    padding: 0 40px;
    display: inline-block;
    text-align: center;    
}
.bioTexto {
    margin: 0 0 15px;
    padding: 0 40px
}
.bioTexto h1 {
    font-size: 25px;
}
.bioTexto p, .bioTexto a{
    font-size: 15px;
}
.bioImg img{
    object-fit: cover;
    height: 100%;
    width:100%;
}
article .row{
    margin: 0;
    align-items: center;
}
.tyc_blg {
    border: none;
}
.tyc_blgTexto {
    padding: 0 15px;
}
.tyc_blgTexto h2 {
    font-size: 20px;
    margin-bottom: 15px;
}
.tyc_blgTexto p {
    font-size: 15px;
}
.tyc_blgTexto a {
    font-size: 15px;
}
.tyc_blgImg {
    padding: 0 10px;
    display: inline-block;
    text-align: center;
}
.tyc_blgImg img {
    height: 200px;
}

/* FOOTER */

.footer {
    background-color: lightcyan;
    padding: 15px;
    border-top: dashed 1px grey;
}
.footer p {
    font-size: 14px;
    text-align: right;
}
.footer ul {
    text-align: center;
}
.footer li {
    display: inline;
}
.redesFoot {
    font-size: 20px;
    margin: 10px;
}

/* BIO */

.noPadd {
    padding: 0;
}
.bio {
    margin: 20px auto;
    align-items: center;
    padding: 20px 0 40px;
}
.TextoBio_1, .TextoBio_2 {
    margin-bottom: 40px;
}
.ImgBio {
    height: 100%;
    padding: 0px 40px;
    display: inline;
    text-align: center;
}
.TextoBio_1 h1, .TextoBio_2 h2 {
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
}
.TextoBio_1 p, .TextoBio_2 p{
    font-size: 15px;
    margin-bottom: 15px;
    text-align: justify;
}
.ImgBio img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* TALLERES Y CURSOS */

.Talleres, .Cursos{
    width: 100%;
    height: 400px;
    position:relative;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: dashed 1px grey;
}
.Cursos {
    height: 450px;
}
.TextoTalleres {
    width: 60%;
    height: 100%;
    padding: 20px 40px;
    position: absolute;
    top: 0px; 
    display: inline-block;
    text-align: left;
}
.Cursos article {
    width: 100%;
    height: auto;
    padding: 20px 40px 0;
    text-align: center;
}
.TextoTalleres h1, .Cursos article h2{
    font-size: 25px;
    margin-bottom: 15px;
    text-align: left;
}
.TextoTalleres p{
    font-size: 15px;
    margin-bottom: 15px;
    text-align: justify;
}
.ImgTalleres {
    width: 40%;
    height: 400px;
    padding: 40px 10px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}
.ImgTalleres img {
    height: 280px;
}
.TextoTalleres h3{
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
    text-decoration: underline;
}
.proxTalleres {
    margin-left: 15px;
    padding-left: 15px;
    list-style-type: square;
    font-size: 15px;
    font-style: italic;
}
.mesTalleres {
    margin-left: 15px;
    font-style: normal;
}
.cursoPromo {
    width: 560px;
    height: 100%;
    display: inline-block;
    margin: 0 15px;
    text-align: center;
}
.cursoPromo h3 {
    font-size: 20px;
}

/* BLOG */

.blog{
    width: 100%;
    height: 800px;
    position:relative;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: dashed 1px grey;
}
.Blog_1, .Blog_2 {
    width: 100%;
    height: 400px;
    position: inherit;
    top: 0;
}
.TextoBlog_1, .TextoBlog_2 {
    width: 60%;
    padding: 20px 40px;
    height: 400px;
    position: absolute;
}
.TextoBlog_1 {
    left: 0;
}
.TextoBlog_2 {
    right: 0;
}
.blogImg {
    width: 40%;
    height: 400px;
    padding: 20px 40px;
    display: inline;
    text-align: center;
    position: absolute;
    top: 0;
}
.blogImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ImgBlog_1 {
    right: 0%;
}
.ImgBlog_1 img{
    object-position: bottom;
}
.ImgBlog_2 img {
    object-position: top;
}
.TextoBlog_1 h1, .TextoBlog_2 h2 {
    font-size: 25px;
    margin-bottom: 15px;
}
.TextoBlog_1 p, .TextoBlog_2 p{
    font-size: 15px;
    margin-bottom: 15px;
    text-align: justify;
}

/* CONTACTO */

.Contacto{
    width: 100%;
    height: 700px;
    position:relative;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: dashed 1px grey;
}
.conTexto {
    width: 480px;
    height: 100%;
    padding: 20px 40px;
    margin: 0px auto;  
}
.conTexto h1{
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}
.conTexto form {
    width: 400px;
    padding: 30px;
    display: inline-block;
    background-color: lightgray;
    border: solid 1px black;
    
}
.conTexto form label {
    font-size: 15px;
    margin-bottom: 5px;
    display: block;
}
.conTexto input {
    text-align: left;
    width: 340px;
    font-size: 15px;
    margin-bottom: 15px;
}
.formInteres input{
    display: inline-block;
    width: auto;
    margin-right: 10px;
}
.formComentario {
    width: 340px;
    height: 100px;
    resize: none;
}
.formBotones {
    text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .tyc_blgTexto {
        margin-top: 20px
    }
}
@media screen and (max-width: 675px) {
    header{
        height: auto;
    }
    .top {
        display: inline-block;
        height: 30px;
    }
    .headerNav {
        height: auto;
    }
    .headerLogo {
        display: none;
    }
    .headerMenu{
        width: 100%;
        text-align: center;
    }
    .menuNav li{
        display: inline-block;
        font-size: 1.7rem;
    }
    .menuNav li a {
        padding: 15px 15px;
    }
    .volverArriba a i{
        display: inline-block;
    }
}
@media screen and (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media screen and (max-width: 498px) {
    .top {
        height: 160px;
    }
    .headerMenu ul{
        padding-left: 0;
    }
    .menuNav{
        padding: 0;
    }
    .menuNav li{
        display: block;
    }
    .menuNav li a {
        padding: 5px 15px;
    }
    .TextoBio_2{
        margin-bottom: 0;
    }
    .ImgBio{
        display: none;
    }
}