@charset "UTF-8";
/* MEDIA QUERIES DESKTOP FIRST*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  padding: 0;
}

html {
  font-size: 62.5%; /* 1rem=10px */
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  height: 80px;
  font-family: "Poppins";
}

.headerNav {
  background-color: #e0ffff;
  box-shadow: 0 1px 10px #000000;
  width: 100%;
  height: inherit;
  position: fixed;
  top: 0px;
  z-index: 1000;
  display: flex;
  align-items: center;
  /* Boton menú responsive */
}
.headerNav .navLogo {
  width: 20%;
  height: 100%;
  padding: 10px 30px;
  z-index: 1500;
}
.headerNav .navLogo a {
  display: inline-block;
  height: 60px;
}
.headerNav .navLogo a img {
  height: 100%;
  border-radius: 5px;
}
.headerNav .navLogo a:hover {
  border-radius: 5px;
  border: solid 2px #000000;
  box-shadow: 0px 0px 3px #0000ff;
}
@media screen and (max-width: 685px) {
  .headerNav .navLogo {
    width: 40%;
  }
}
.headerNav #btn-menu, .headerNav .btn-menu, .headerNav .navMenu-collapse {
  display: none;
}
.headerNav .navMenu-collapse {
  width: 100%;
  background-color: #e0ffff;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0 1px 10px #000000;
  z-index: 1250;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
}
.headerNav .navMenu-collapse .menuList-collapse {
  transition: all 0.5s ease;
  transform: translateX(100%);
  margin-bottom: 0;
  padding: 80px 0 0;
}
.headerNav .navMenu-collapse .menuList-collapse li {
  display: block;
  font-size: 2rem;
  padding-bottom: 5px;
}
.headerNav .navMenu-collapse .menuList-collapse li a {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 15px;
}
.headerNav .navMenu-collapse .menuList-collapse li a:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
}
.headerNav .navMenu-collapse .menuList-collapse li:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  background: content-box linear-gradient(transparent, #0000ff);
}
.headerNav .navMenu-collapse .menuList-collapse li label {
  display: block;
  position: absolute;
  top: 20px;
  right: 35px;
  font-size: 2rem;
  cursor: pointer;
}
.headerNav .navMenu-collapse .menuList-collapse li label:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  background: content-box linear-gradient(transparent, #0000ff);
  border-radius: 5px;
}
@media screen and (max-width: 685px) {
  .headerNav .btn-menu {
    position: absolute;
    top: 20px;
    right: 35px;
    display: block;
    font-size: 2.5rem;
  }
  .headerNav .btn-menu label {
    cursor: pointer;
  }
  .headerNav .btn-menu label:hover {
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    background: content-box linear-gradient(transparent, #0000ff);
    border-radius: 5px;
  }
}
.headerNav .navMenu {
  width: 80%;
  height: 100%;
  text-align: right;
}
.headerNav .navMenu .menuList {
  height: 100%;
  padding-right: 15px;
  margin: 0;
}
.headerNav .navMenu .menuList li {
  display: inline-block;
  height: 100%;
  font-size: 2.5rem;
}
@media screen and (max-width: 795px) {
  .headerNav .navMenu .menuList li {
    font-size: 2rem;
  }
}
.headerNav .navMenu .menuList li a {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 25px 15px;
}
@media screen and (max-width: 850px) {
  .headerNav .navMenu .menuList li a {
    padding: 25px 10px;
  }
}
.headerNav .navMenu .menuList li a:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
}
.headerNav .navMenu .menuList li:hover {
  background: content-box linear-gradient(transparent, #0000ff);
}
@media screen and (max-width: 685px) {
  .headerNav .navMenu {
    display: none;
  }
}
.headerNav #btn-menu:checked ~ .navMenu-collapse {
  opacity: 1;
  visibility: visible;
}
.headerNav #btn-menu:checked ~ .navMenu-collapse .menuList-collapse {
  transform: translateX(0);
}
@media screen and (max-width: 1024px) {
  .headerNav #btn-menu:checked ~ .navMenu-collapse {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .headerNav #btn-menu:checked ~ .navMenu-collapse {
    display: none;
  }
}
@media screen and (max-width: 685px) {
  .headerNav #btn-menu:checked ~ .navMenu-collapse {
    display: block;
  }
}

.footer {
  background-color: #e0ffff;
  padding: 10px;
  box-shadow: 0 1px 10px #000000;
}
.footer p {
  font-size: 1.5rem;
  text-align: right;
  margin-bottom: 0;
}
.footer ul {
  text-align: center;
}
.footer ul li {
  display: inline;
}
.footer ul li .redesFoot {
  font-size: 2rem;
  margin: 10px;
}
.footer ul li .redesFoot:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
}

.top {
  display: none;
}
@media screen and (max-width: 850px) {
  .top {
    display: inline;
  }
}

.volverArriba {
  font-size: 5rem;
  color: #888888;
  position: fixed;
  bottom: 120px;
  left: 15px;
  opacity: 0.7;
  display: none;
}
@media screen and (max-width: 850px) {
  .volverArriba {
    display: block;
  }
}

p {
  text-indent: 30px;
}

article .row {
  margin: 0;
  align-items: center;
}

.bioIndex, .tyc_blg {
  margin: 20px auto;
  align-items: center;
  padding: 20px 0 40px;
}

.bioIndex {
  border-bottom: dashed 1px #555555;
}

.TextoIndex {
  padding: 0;
  display: inline-block;
  text-align: right;
  margin: 0 0 15px;
}
.TextoIndex h1, .TextoIndex h2 {
  margin-bottom: 20px;
  text-align: center;
}
.TextoIndex p {
  margin-bottom: 10px;
  text-align: justify;
}
.TextoIndex a {
  font-style: italic;
}

.bioTexto {
  margin: 0 0 15px;
  padding: 0 40px;
}
.bioTexto h1 {
  font-size: 2.5rem;
}
.bioTexto p, .bioTexto a {
  font-size: 1.5rem;
}
.bioTexto a:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  background: content-box linear-gradient(transparent, #0000ff);
}

.ImgIndex {
  padding: 0 40px;
  display: inline-block;
  text-align: center;
}
.ImgIndex img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.tyc_blgTexto {
  padding: 0 15px;
}
.tyc_blgTexto h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}
.tyc_blgTexto p, .tyc_blgTexto a {
  font-size: 1.5rem;
}
.tyc_blgTexto a:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  background: content-box linear-gradient(transparent, #0000ff);
}

.tyc_blgImg {
  padding: 0 10px;
  display: inline-block;
  text-align: center;
}
.tyc_blgImg img {
  height: 200px;
}
.tyc_blgImg iframe {
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
}

.bio {
  margin: 20px auto;
  align-items: center;
  padding: 20px 0 40px;
}
.bio .noPadd {
  padding: 0;
}
.bio .noPadd .TextoBio_1, .bio .noPadd .TextoBio_2 {
  text-align: justify;
}
.bio .noPadd .TextoBio_1 h1, .bio .noPadd .TextoBio_1 h2, .bio .noPadd .TextoBio_2 h1, .bio .noPadd .TextoBio_2 h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  text-align: center;
}
.bio .noPadd .TextoBio_1 p, .bio .noPadd .TextoBio_2 p {
  font-size: 1.5rem;
  text-align: justify;
  margin-bottom: 15px;
}
.bio .noPadd .TextoBio_1 {
  margin-bottom: 40px;
}
.bio .ImgBio {
  height: 100%;
  padding: 0px 40px;
  display: inline;
  text-align: center;
}
.bio .ImgBio img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.Talleres, .Cursos {
  margin: 20px auto;
  align-items: center;
  padding: 20px 0 40px;
  border-bottom: dashed 1px #555555;
}
.Talleres .TextoTalleres, .Cursos .TextoTalleres {
  margin: 0 0 40px;
  padding: 0 40px;
}
.Talleres .TextoTalleres h1, .Cursos .TextoTalleres h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  text-align: center;
}
.Talleres .TextoTalleres p, .Cursos .TextoTalleres p {
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-align: justify;
}
.Talleres .TextoTalleres h3, .Cursos .TextoTalleres h3 {
  font-size: 2rem;
  margin-left: 15px;
  margin-bottom: 10px;
  text-decoration: underline;
}
.Talleres .TextoTalleres .proxTalleres, .Cursos .TextoTalleres .proxTalleres {
  margin-left: 15px;
  padding-left: 15px;
  list-style-type: square;
  font-size: 1.5rem;
  font-style: italic;
}
.Talleres .TextoTalleres .mesTalleres, .Cursos .TextoTalleres .mesTalleres {
  margin-left: 15px;
  font-style: normal;
}
.Talleres .TextoTalleres .mesTalleres a, .Cursos .TextoTalleres .mesTalleres a {
  font-style: italic;
  text-decoration: underline;
}
.Talleres .TextoTalleres .mesTalleres a:hover, .Cursos .TextoTalleres .mesTalleres a:hover {
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  background: content-box linear-gradient(transparent, #0000ff);
}
.Talleres .CalTalleres, .Cursos .CalTalleres {
  padding: 0 40px 20px;
  display: inline-block;
  text-align: center;
}
.Talleres .CalTalleres iframe, .Cursos .CalTalleres iframe {
  width: 100%;
  height: 300px;
}

.Cursos {
  border: none;
}
.Cursos .textoCursos {
  text-align: center;
}
.Cursos .textoCursos h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.Cursos .cursoPromo {
  padding: 0 20px;
}
.Cursos .cursoPromo iframe {
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
}
.Cursos .cursoPromo h3 {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 15px;
}

.Blog_1, .Blog_2 {
  margin: 20px auto;
  align-items: center;
  padding: 20px 0;
}
.Blog_1 h1, .Blog_1 h2, .Blog_2 h1, .Blog_2 h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  text-align: center;
}

.blogTexto {
  /* background-color: cyan; */
  text-align: justify;
  padding: 0 40px;
}
.blogTexto p {
  font-size: 1.5rem;
}

.TextoBlog_2 h2 {
  font-style: 1.5rem;
}

.blogImg {
  height: 45em;
  padding: 0 20px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .blogImg {
    height: auto;
  }
}
.blogImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 1em 0;
}
@media screen and (max-width: 1980px) {
  .blogImg img {
    object-fit: cover;
    object-position: center;
  }
}
@media screen and (max-width: 1200px) {
  .blogImg img {
    object-fit: contain;
  }
}

/* CONTACTO */
.Contacto {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
}

.conTexto {
  width: 100%;
  padding: 20px 40px;
}

.conTexto h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

form {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  padding: 30px;
  background-color: #e0ffff;
  box-shadow: 0 1px 10px #000000;
}

.conTexto form label {
  font-size: 1.5rem;
  margin-bottom: 8px;
  display: block;
}

.conTexto .datos input {
  text-align: left;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.formInteres input {
  display: inline-block;
  width: 20%;
  margin-right: 10px;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.formComentario {
  width: 100%;
  height: 200px;
  resize: none;
  margin-bottom: 15px;
}

.formBotones {
  text-align: center;
}

.formBotones input {
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 5px;
  font-size: 1.5rem;
}

/*# sourceMappingURL=styles.css.map */
