// Tipografía //
$typoPrincipal: 'Poppins';

// Tamaños de letra //
$titulo: 2.5rem;
$subtitulo: 2rem;
$parrafo: 1.5rem;
$botonTop: 5rem;

//Colores//
$colorPrincipal: #e0ffff;
$colorSecundario: #0000ff;
$colorResaltado: #ffffff;
$colorEnlace: #000000;
$colorSombra: #000000;
$colorBotonTop: #888888;
$colorSeparador: #555555;