header{
    height: 80px;
    font-family: $typoPrincipal;
}

.headerNav {
    background-color: $colorPrincipal;
    box-shadow: 0 1px 10px $colorSombra;
    width: 100%;
    height: inherit;
    position: fixed;
    top: 0px;
    z-index: 1000;
    display: flex;
    align-items: center;
        
    .navLogo {
        width: 20%;
        height: 100%;
        padding: 10px 30px;
        z-index:1500;
        
        a {
            display: inline-block;
            height: 60px;
            
            img {
                height: 100%;
                border-radius: 5px;
            }

        &:hover {
            border-radius: 5px;
            border: solid 2px $colorEnlace;
            box-shadow: 0px 0px 3px $colorSecundario;
            }   
        }
        
        @include mediaquery(685px){
            width: 40%;
        }
    }   
    /* Boton menú responsive */
    #btn-menu, .btn-menu, .navMenu-collapse{
        display: none;
    }
    .navMenu-collapse {
        width: 100%;
        background-color: $colorPrincipal;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        box-shadow: 0 1px 10px $colorSombra;
        z-index: 1250;
        transition: all .5s ease;
        opacity: 0;
        visibility: hidden;
		
        .menuList-collapse {
            transition: all .5s ease;
            transform: translateX(100%);
            margin-bottom: 0;
            padding: 80px 0 0;
                        
            li {
                display: block;
                font-size: $subtitulo;
                padding-bottom: 5px;
                                
                a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    padding-left: 15px;
                    
                    &:hover {
                    @include hovers;
                    }
                }
                &:hover {
                    @include hovers;
                    background:content-box linear-gradient(transparent, $colorSecundario);
                }

                label {
                    display: block;
                    position: absolute;
                    top: 20px;
                    right: 35px;
                    font-size: $subtitulo;
                    cursor: pointer;

                    &:hover{
                        @include hoversBack;     
                        border-radius: 5px;               
                    }
                }
            }
        }
        
    }
    .btn-menu {
        @include mediaquery(685px){
            position: absolute;
            top: 20px;
            right: 35px;
            display: block;
            font-size: $titulo;
            
            label {
                cursor: pointer; 
                
                &:hover {
                    @include hoversBack;     
                    border-radius: 5px;               
                }
            }
            
            
        }
    }
    .navMenu {
        width: 80%;
        height: 100%;
        text-align: right;       
        
        .menuList {
            height: 100%;
            padding-right: 15px;
            margin: 0;


            li {
                display: inline-block;
                height: 100%;
                font-size: $titulo;
                
                @include mediaquery(795px){
                    font-size: $subtitulo;
                }

                a {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    padding: 25px 15px;
                    
                    @include mediaquery(850px){
                        padding: 25px 10px;
                    }                   

                    &:hover {
                        @include hovers;
                    }
                }
            
                &:hover {
                    background:content-box linear-gradient(transparent, $colorSecundario);
                }
            }            
        }
        
        @include mediaquery(685px){
            display: none;
        }
    }
    #btn-menu:checked ~ .navMenu-collapse {
        opacity: 1;
        visibility: visible;
        

        .menuList-collapse {
            transform: translateX(0);
        }

        @include desktop{
            display: none;
        }
        @include tablet {
            display: none;
        }
        @include mediaquery(685px){
            display: block;
        }
    }
}

