// Botón para ir al comienzo de página //
.top {
    display: none;
}
.volverArriba{
    font-size: $botonTop;
    color: $colorBotonTop;
    position: fixed;
    bottom: 120px;
    left: 15px;
    opacity: .7;
    display: none;
}