// Botón para ir al comienzo de página //
.top {
    display: none;

    @include mediaquery(850px){
        display: inline;
    }
}
.volverArriba{
    font-size: $botonTop;
    color: $colorBotonTop;
    position: fixed;
    bottom: 120px;
    left: 15px;
    opacity: .7;
    display: none;

    @include mediaquery(850px){
        display: block;
    }
}