.Talleres{
    margin: 20px auto;
    align-items: center;
    padding: 20px 0 40px;
    border-bottom: dashed 1px $colorSeparador;
    
    .TextoTalleres {
        margin: 0 0 40px;
        padding: 0 40px;
    
        h1 {
            font-size: $titulo;
            margin-bottom: 15px;
            text-align: center;
        }

        p {
            font-size: $parrafo;
            margin-bottom: 15px;
            text-align: justify;
        }

        h3 {
            font-size: $subtitulo;
            margin-left: 15px;
            margin-bottom: 10px;
            text-decoration: underline;
        }

        .proxTalleres {
            margin-left: 15px;
            padding-left: 15px;
            list-style-type: square;
            font-size: $parrafo;
            font-style: italic;
        }

        .mesTalleres {
                margin-left: 15px;
                font-style: normal;

                a {
                    font-style: italic;
                    text-decoration: underline;

                    &:hover {
                        @include hoversBack;
                    }
                }
        }
    }

    .CalTalleres {
        padding: 0 40px 20px;
        @include displayImg;

        iframe {
            width: 100%;
            height: 300px;
        }

        
    }
}

.Cursos {
    @extend .Talleres;
    border: none;

    .textoCursos {
        text-align: center;
        
        h2 {
            font-size: $titulo;
            margin-bottom: 30px;
        }
    }

    .cursoPromo {
        padding: 0 20px;

        iframe {
            width: 100%;
            height: 250px;
            margin-bottom: 15px;
        }
        h3{
            font-size: $subtitulo;
            font-style: italic;
            margin-bottom: 15px;
        }
    }
}
